<div class="todays-deals-container">
    <div class="deals-card">
        <div class="card-title">
            <h4 class="title">Today`s Deals</h4>
            <a href="#" class="deals-text">See all deals</a>
        </div>
        <div class="list-container">
            <div class="list">
                <img src="assets/home/todays-deal-1.png" alt="" class="product-img">
                <div class="rate-time-container">
                <span class="list-text">&#8377;11,990.00 - &#8377;34,990.00 </span>
                <span class="time">Ends in 10:34:36</span>
                </div>
            </div>
            <div class="list">
                <img src="assets/home/todays-deal-2.png" alt="" class="product-img">
                <div class="rate-time-container">
                <span class="list-text">&#8377;99.00 - &#8377;14,990.00</span>
                <span class="time">Ends in 10:34:36</span>
                </div>
            </div>
            <div class="list">
                <img src="assets/home/todays-deal-3.png" alt="" class="product-img">
                <div class="rate-time-container">
                <span class="list-text">&#8377;39,990.00</span>
                <span class="time">Ends in 10:34:36</span>
                </div>
            </div>
            <div class="list">
                <img src="assets/home/todays-deal-4.png" alt="" class="product-img">
                <div class="rate-time-container">
                <span class="list-text">&#8377;149.00 - &#8377;95,490.00</span>
                <span class="time">Ends in 10:34:36</span>
                </div>
            </div>
            <div class="list">
                <img src="assets/home/todays-deal-5.png" alt="" class="product-img">
                <div class="rate-time-container">
                <span class="list-text">&#8377;229.00 - &#8377;21,990.00</span>
                <span class="time">Ends in 10:34:36</span>
                </div>
            </div>
            <div class="list">
                <img src="assets/home/todays-deal-6.png" alt="" class="product-img">
                <div class="rate-time-container">
                <span class="list-text">&#8377;576.00 - &#8377;10,075.00</span>
                <span class="time">Ends in 10:34:36</span>
                </div>
            </div>
            <div class="list">
                <img src="assets/home/todays-deal-7.png" alt="" class="product-img">
                <div class="rate-time-container">
                <span class="list-text">&#8377;17,499.00 - &#8377;18,499.00</span>
                <span class="time">Ends in 10:34:36</span>
                </div>
            </div>
            <div class="list">
                <img src="assets/home/todays-deal-8.png" alt="" class="product-img">
                <div class="rate-time-container">
                <span class="list-text">&#8377;99.00 - &#8377;6,893.00</span>
                <span class="time">Ends in 10:34:36</span>
                </div>
            </div>
        </div>
    </div>
</div>