<div class="card-container">
    <div class="card">
        <div class="card-title-container">
            <span class="card-title1">Styles for Men | Up to 70% off</span>
        </div>
        <div class="product-container">
            <div class="product">
                <img src="assets/home/clothing.png" class="product-image">
                <span class="product-text">Clothing</span>
            </div>
            <div class="product">
                <img src="assets/home/footwear.png" class="product-image">
                <span class="product-text">Footwear</span>
            </div>
            <div class="product">
                <img src="assets/home/watches.png" class="product-image">
                <span class="product-text">Watches</span>
            </div>
            <div class="product">
                <img src="assets/home/bags&luggage.png" class="product-image">
                <span class="product-text">Bags & Luggage</span>
            </div>
        </div>
        <a class="go-link">End of Season Sale</a>
    </div>

    <div class="card">
        <div class="card-title-container">
            <span class="card-title1">Styles for Men | Up to 70% off</span>
        </div>
        <div class="product-container">
            <div class="product">
                <img src="assets/home/clothing.png" class="product-image">
                <span class="product-text">Clothing</span>
            </div>
            <div class="product">
                <img src="assets/home/footwear.png" class="product-image">
                <span class="product-text">Footwear</span>
            </div>
            <div class="product">
                <img src="assets/home/watches.png" class="product-image">
                <span class="product-text">Watches</span>
            </div>
            <div class="product">
                <img src="assets/home/bags&luggage.png" class="product-image">
                <span class="product-text">Bags & Luggage</span>
            </div>
        </div>
        <a class="go-link">End of Season Sale</a>
    </div>

    <div class="card">
        <div class="card-title-container">
            <span class="card-title1">Styles for Men | Up to 70% off</span>
        </div>
        <div class="product-container">
            <div class="product">
                <img src="assets/home/clothing.png" class="product-image">
                <span class="product-text">Clothing</span>
            </div>
            <div class="product">
                <img src="assets/home/footwear.png" class="product-image">
                <span class="product-text">Footwear</span>
            </div>
            <div class="product">
                <img src="assets/home/watches.png" class="product-image">
                <span class="product-text">Watches</span>
            </div>
            <div class="product">
                <img src="assets/home/bags&luggage.png" class="product-image">
                <span class="product-text">Bags & Luggage</span>
            </div>
        </div>
        <a class="go-link">End of Season Sale</a>
    </div>

    <div class="card">
        <div class="card-title-container">
            <span class="card-title1">Styles for Men | Up to 70% off</span>
        </div>
        <div class="product-container">
            <div class="product">
                <img src="assets/home/clothing.png" class="product-image">
                <span class="product-text">Clothing</span>
            </div>
            <div class="product">
                <img src="assets/home/footwear.png" class="product-image">
                <span class="product-text">Footwear</span>
            </div>
            <div class="product">
                <img src="assets/home/watches.png" class="product-image">
                <span class="product-text">Watches</span>
            </div>
            <div class="product">
                <img src="assets/home/bags&luggage.png" class="product-image">
                <span class="product-text">Bags & Luggage</span>
            </div>
        </div>
        <a class="go-link">End of Season Sale</a>
    </div>

    <div class="card">
        <div class="card-title-container">
            <span class="card-title1">Styles for Men | Up to 70% off</span>
        </div>
        <div class="product-container">
            <div class="product">
                <img src="assets/home/clothing.png" class="product-image">
                <span class="product-text">Clothing</span>
            </div>
            <div class="product">
                <img src="assets/home/footwear.png" class="product-image">
                <span class="product-text">Footwear</span>
            </div>
            <div class="product">
                <img src="assets/home/watches.png" class="product-image">
                <span class="product-text">Watches</span>
            </div>
            <div class="product">
                <img src="assets/home/bags&luggage.png" class="product-image">
                <span class="product-text">Bags & Luggage</span>
            </div>
        </div>
        <a class="go-link">End of Season Sale</a>
    </div>

    <div class="card">
        <div class="card-title-container">
            <span class="card-title1">Styles for Men | Up to 70% off</span>
        </div>
        <div class="product-container">
            <div class="product">
                <img src="assets/home/clothing.png" class="product-image">
                <span class="product-text">Clothing</span>
            </div>
            <div class="product">
                <img src="assets/home/footwear.png" class="product-image">
                <span class="product-text">Footwear</span>
            </div>
            <div class="product">
                <img src="assets/home/watches.png" class="product-image">
                <span class="product-text">Watches</span>
            </div>
            <div class="product">
                <img src="assets/home/bags&luggage.png" class="product-image">
                <span class="product-text">Bags & Luggage</span>
            </div>
        </div>
        <a class="go-link">End of Season Sale</a>
    </div>

    <div class="card">
        <div class="card-title-container">
            <span class="card-title1">Styles for Men | Up to 70% off</span>
        </div>
        <div class="product-container">
            <div class="product">
                <img src="assets/home/clothing.png" class="product-image">
                <span class="product-text">Clothing</span>
            </div>
            <div class="product">
                <img src="assets/home/footwear.png" class="product-image">
                <span class="product-text">Footwear</span>
            </div>
            <div class="product">
                <img src="assets/home/watches.png" class="product-image">
                <span class="product-text">Watches</span>
            </div>
            <div class="product">
                <img src="assets/home/bags&luggage.png" class="product-image">
                <span class="product-text">Bags & Luggage</span>
            </div>
        </div>
        <a class="go-link">End of Season Sale</a>
    </div>

    <div class="card">
        <div class="card-title-container">
            <span class="card-title1">Styles for Men | Up to 70% off</span>
        </div>
        <div class="product-container">
            <div class="product">
                <img src="assets/home/clothing.png" class="product-image">
                <span class="product-text">Clothing</span>
            </div>
            <div class="product">
                <img src="assets/home/footwear.png" class="product-image">
                <span class="product-text">Footwear</span>
            </div>
            <div class="product">
                <img src="assets/home/watches.png" class="product-image">
                <span class="product-text">Watches</span>
            </div>
            <div class="product">
                <img src="assets/home/bags&luggage.png" class="product-image">
                <span class="product-text">Bags & Luggage</span>
            </div>
        </div>
        <a class="go-link">End of Season Sale</a>
    </div>
</div>
