<div class="container">
<nav class="navbar">
  <div class="nav-brand">
    <img src="assets/amazon/brand-icon-white.png" alt="amazon.png" class="brand-icon">
  </div>
  <p class="nav-link">
    <span class="link-1">Hello</span>
    <span class="link-2">Select your address</span>
  </p>
  <div class="searchbar">
    <input type="text" class="search-input">
    <div class="icon-container">
      <img src="assets/amazon/search.png" alt="" class="search-icon">
    </div>
  </div>
  <p class="flag">
    <img src="assets/amazon/india-flag.png" alt="" class="flag-img">
  </p>
    <p class="nav-link">
      <span class="link-1">Hello, Sign in</span>
      <span class="link-2">Account & Lists</span>
    </p>
    <p class="nav-link">
      <span class="link-1">Returns</span>
      <span class="link-2">& Orders</span>
    </p>
    <p class="cart">
      <img src="assets/amazon/cart.png" alt="" class="cart-img">
      <span class="link-2">Cart</span>
    </p>
</nav>
<div class="second-nav">
  <div class="second-nav-links-container">
    <a href="#" class="second-nav-link hamberg-link"><img src="assets/amazon/hamberg.png" class="hamberg">All</a>
    <a href="#" class="second-nav-link">Best Sellers</a>
    <a href="#" class="second-nav-link">Mobiles</a>
    <a href="#" class="second-nav-link">Todays Deals</a>
    <a href="#" class="second-nav-link">Electronics</a>
    <a href="#" class="second-nav-link">Customer Service</a>
    <a href="#" class="second-nav-link">Prime</a>
    <a href="#" class="second-nav-link">Fashion</a>
    <a href="#" class="second-nav-link">New Releases</a>
    <a href="#" class="second-nav-link">Home & Kitchen</a>
  </div>
  <div class="app">
    <img src="assets/amazon/app.png" class="app-img">
    <span class="app-content">Shopping made easy | Download the app</span>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="to-top">
    <a href="#" class="top-link">Back to top</a>
  </div>
  <div class="footer-container">
    <div class="footer-content-container">
      <div class="footer-content">
        <h3>Get to Know Us</h3>
        <a href="#" class="footer-link">About Us</a>
        <a href="#" class="footer-link">Careers</a>
        <a href="#" class="footer-link">Press Releases</a>
        <a href="#" class="footer-link">Amazon Cares</a>
        <a href="#" class="footer-link">Gift a Smile</a>
      </div>
      <div class="footer-content">
        <h3>Connet with Us</h3>
        <a href="#" class="footer-link">Facebook</a>
        <a href="#" class="footer-link">Twitter</a>
        <a href="#" class="footer-link">Instagram</a>
      </div>
      <div class="footer-content">
        <h3>Make Monet with Us</h3>
        <a href="#" class="footer-link">Sell on Amazon</a>
        <a href="#" class="footer-link">Sell under Amazon Accelerator </a>
        <a href="#" class="footer-link">Amazon Global Selling</a>
        <a href="#" class="footer-link">Becoome an Affiliate</a>
        <a href="#" class="footer-link">Fulfilment by Amazon</a>
        <a href="#" class="footer-link">Advertise Yoour Products</a>
        <a href="#" class="footer-link">Amazon Pay on Merchants</a>
      </div>
      <div class="footer-content">
        <h3>Let Us Help You</h3>
        <a href="#" class="footer-link">COVID-19 and Amazon</a>
        <a href="#" class="footer-link">Your Account</a>
        <a href="#" class="footer-link">Returns Center</a>
        <a href="#" class="footer-link">100% Purchase Protection</a>
        <a href="#" class="footer-link">Amazon App Download</a>
        <a href="#" class="footer-link">Amazon Assistant Download</a>
        <a href="#" class="footer-link">Help</a>
      </div>
    </div>
    <hr>
    <div class="footer-brnad">
      <div class="logo-container">
      <a href="#"><img src="assets/amazon/brand-icon-footer.png" alt="" class="amazon-img"></a>
      <button class="language"><img src="assets/amazon/globe.png" class="globe"> English</button>
    </div>
    <div class="country">
        <a href="#" class="country-link">Australia</a>
        <a href="#" class="country-link">Brazil</a>
        <a href="#" class="country-link">Canada</a>
        <a href="#" class="country-link">China</a>
        <a href="#" class="country-link">France</a>
        <a href="#" class="country-link">Germany</a>
        <a href="#" class="country-link">Italy</a>
        <a href="#" class="country-link">Japan</a>
        <a href="#" class="country-link">Mexico</a>
        <a href="#" class="country-link">Netherlanda</a>
        <a href="#" class="country-link">Poland</a>
        <a href="#" class="country-link">Singapore</a>
        <a href="#" class="country-link">Spain</a>
        <a href="#" class="country-link">Turkey</a>
        <a href="#" class="country-link">Uniter Arab Emirates</a>
        <a href="#" class="country-link">United Kingdom</a>
        <a href="#" class="country-link">United States</a>
      </div>
    </div>
    <div class="footer-end">
      <div class="content">
        <div class="content-set">
          <a href="#" class="link">
            <span class="link-title">AbeBooks</span>
            <span class="link-content">Books, art</span>
            <span class="link-content">& collectibles</span>
          </a>
          <a href="#" class="link">
            <span class="link-title">Amazon Web Service</span>
            <span class="link-content">Scalable Cloud</span>
            <span class="link-content">Computing Service</span>
          </a>
          <a href="#" class="link">
            <span class="link-title">Audible</span>
            <span class="link-content">Download</span>
            <span class="link-content">Audio Books</span>
          </a>
          <a href="#" class="link">
            <span class="link-title">DPReview</span>
            <span class="link-content">Digital</span>
            <span class="link-content">Photography</span>
          </a>
          <a href="#" class="link">
            <span class="link-title">IMDb</span>
            <span class="link-content">Movies, TV</span>
            <span class="link-content">& Celebrities</span>
          </a>
          <a href="#" class="link">
            <span class="link-title">ShopBop</span>
            <span class="link-content">Designer</span>
            <span class="link-content">Fashion Brands</span>
          </a>
          <a href="#" class="link">
            <span class="link-title">Amazon Business</span>
            <span class="link-content">Everythig For</span>
            <span class="link-content">Your Business</span>
          </a>
          <a href="#" class="link">
            <span class="link-title">Prime Now</span>
            <span class="link-content">2-Hour Delivery</span>
            <span class="link-content">on Everything Items</span>
          </a>
          <a href="#" class="link">
            <span class="link-title">Amazon Prime Music</span>
            <span class="link-content">75 million songs, ad free</span>
            <span class="link-content">Over 10 million podcast episodes</span>
          </a>
        </div>
        <div class="final">
         <a  class="final-link" href="#">Conditions of Use & Sale</a>
         <a  class="final-link" href="#">Privacy Notice</a>
         <a  class="final-link" href="#">Interest-Based Ads</a>
         <span>© 1996-2022, Amazon.com, Inc. or its affiliates</span>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>